*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.wrapper{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr 2fr;
    gap: 10px;
    grid-template-areas:
    "hd hd hd hd hd hd"
    "cl cl el el ol ol"
    "ft ft ft ft ft ft"
;

}
header{
    grid-area: hd;
    background-color: skyblue;
    text-align: center;
}

.champ-league{
    grid-area: cl;

}

.euro-league{
    grid-area: el;

}

.conf-league{
    grid-area: ol;

}

footer{
    grid-area: ft;
    background-color: skyblue;
    text-align: center;
}

a{
    background-color: teal;
    color: wheat;
}

