*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}:root {
    --green: rgb(0, 70, 0);
    --tan: rgb(239, 235, 210);
    --white: white;
}

.wrapper{
    display: grid;
    grid-template-columns: repeat(6, 2fr);
    grid-auto-rows: minmax(100px, auto);
    gap: 10px;
    grid-template-areas:
    "hd hd hd hd hd hd"
    "tm tm tw tw tt tt"
    "tm tm tw tw tt tt"
    "tm tm tw tw tt tt"
    "tm tm tw tw tt tt"
    "tm tm tw tw tt tt"
    "tm tm tw tw tt tt"
    "tm tm tw tw tt tt"
    "ft ft ft ft ft ft";
}
header{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    grid-area: hd; 
    background-color: var(--green);
}
.title {
    margin-left: 200px;
    margin-top: 5px;
    float: left;
    color: var(--white);
}
 
.top-nav {
    text-align: end;
    margin-top: 20px;
    margin-right: 190px;
}
 
.top-nav>a {
    background-color: var(--green);
    color: var(--tan);
    text-decoration: none;
    margin: 10px;
 
}

.tennis-men-container{
    grid-area: tm;
}

.a-title{
    text-align: center;
    text-decoration: none;
    color:   black;
 

}

.tennis-men:hover,
.tennis-women:hover,
.tournaments:hover{
    border-bottom: 10px solid var(--green);
}



.tennis-women-container{
    grid-area: tw;
}
.tournaments-container{
    grid-area: tt;
}

img{
    width: 400px;
    height: 315px;
    margin-left: 20px;
}

footer{
    grid-area: ft;
    text-align: center;
    background-color: var(--green);
    color: var(--tan);
}
