/* .main{
    margin-top: 100px;
    background-color: aqua;
} */

.container-md div{
    border: 1px solid black;
}

form{
    margin-top: 10%;
    background-color: rgb(105, 56, 56);
    border-radius: 5px;
    
}