/* .col-lg-4 {
  border: 1px solid black;
  height: 180px;
  background-color: grey;
}

.col-sm-4 {
  border: 1px solid black;
  height: 400px;
  background-color: grey;
}

.col-lg {
  background-color: gray;
  border: 1px solid black;
  height: 100px;
} */